.card{
    margin-top: 30px;
    border: 1px solid #DBDBDB;
    border-radius: 7px;
    box-shadow: 0px 0px 28px rgba(72, 174, 174, 0.07);
    padding: 10px;
    background: #FFFFFF;
    position: relative;
}

.title{
    font-weight: 500;
    font-size: 14px;
    color: #212121;
}

.description{
    font-weight: 400;
    font-size: 12px;
    color: #6B6B6B;
    line-height: 16px;
}

.deleteButton{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
    font-size: 8px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background: #329C89;
    color: white;
    font-weight: 400;
    padding: 5px 10px 5px 10px;
}